html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand,
#header-navbar>ul>li>a {
    color: #fff !important;
}

.navbar-fixed-top {
    background-color: #247db0;
    color: #fff;
}

.jumwrapper {
    /*margin-top: 200px;*/
    padding-bottom: 100px;
}

.footer {
    position: absolute;
    width: 100%;
    margin: -18px 0 0;
    color: #fff;
    background-color: #247db0;
    text-align: center;
    height: 100px;
    bottom: 0;
}

.footer a {
    color: #90d7ec;
}

.footer p {
    padding-top: 30px;
    margin-bottom: 0;
}