<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/css/about.css" rel="stylesheet">
    <title>About me</title>
</head>

<body>

    <nav class="nav navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a href="#" class="navbar-brand">NameCrawler Spider</a>
            </div>
            <div id="header-navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="showdetail.html">Show</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="jumwrapper">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-5 left-summary">
                        <h1>我叫杨昀燊</h1>
                        <h2>是一名修炼中的程序猿/喜欢听歌看电影/偶尔运动</h2>
                        <h1>关于我</h1>
                        <h2>现居惠州，是惠州学院一位计科大四学生。喜欢并关注有趣的技术，业余时间喜欢瞎折腾。比较擅长Python，爬虫.使用过Scray搭建爬虫项目以及flask后台。目前在往前端发展。</h2>
                        <h2>2017年，希望可以认真做技术。</h2>
                    </div>
                    <div class="col-md-7 right-summary">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-5 head-pic">
                                <img src="http://o765kopml.bkt.clouddn.com/IMG_0585_mini.JPG" class="img-responsive img-circle" alt="head-pic">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 col-md-offset-4 col-xs-4">
                                <img src="http://o765kopml.bkt.clouddn.com/GitHub-Mark-32px.png" alt="">
                            </div>
                            <div class="col-md-2 col-md-offset-1 col-xs-8 social-href">
                                <a href="https://github.com/findsomeoneyys">findsomeoneyys</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 col-md-offset-4 col-xs-4">
                                <img src="http://o765kopml.bkt.clouddn.com/Mail_Gmail_32px_1076189_easyicon.net.png" alt="">
                            </div>
                            <div class="col-md-2 col-md-offset-1 col-xs-8 social-href">
                                <A href="mailto:findsomeoneyysxxx@gmail.com ">findsomeoneyysxxx@gmail.com</A>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="footer">
        <p>
            Made by <small><a href="https://github.com/findsomeoneyys">@findsomeone</a></small>
            <br> just for learning...
        </p>
    </div>


    <!-- jQuery -->
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>