<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap core CSS -->
    <link href="./static/css/bootstrap.css" rel="stylesheet">

    <link href="./static/css/mysite.css" rel="stylesheet">
    <title>NameCrawler Spider</title>
</head>

<body>

    <nav class="nav navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a href="#" class="navbar-brand">NameCrawler Spider</a>
            </div>
            <div id="header-navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="showdetail.html">Show</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="site-header jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>From newspages to information</h1>
                    <p class="subtitle">
                        Power you to analyse and extract the news pages
                        <br> with open-source solution.
                    </p>
                    <p>
                        <a href="#introduce-anchor" class="btn btn-default" role="button">Get Started</a>
                        <a href="https://github.com/zengsn/name-crawler-python" class="btn btn-default" role="button">Download</a>
                    </p>
                </div>
            </div>
        </div>
    </header>

    <div class="introduce">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1><a name="introduce-anchor">How It Works</a></h1>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="introduce-item">
                            <div class="introduce-img-right col-sm-3 col-xs-4">
                                <img src="http://o765kopml.bkt.clouddn.com/11.svg">
                            </div>
                            <div class="col-sm-6 col-xs-8">
                                <div class="introduce-content">
                                    <h3><span>Set Settings</span></h3>
                                    <p><span>The Scrapy settings allows you to customize the behaviour of all Scrapy components, including the core, extensions, pipelines and spiders themselves.</span></p>
                                </div>
                            </div>
                            <div class="col-sm-3  hidden-xs"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="introduce-item">
                            <div class="col-sm-3 hidden-xs"></div>
                            <div class="col-sm-6 col-xs-8">
                                <div class="introduce-content">
                                    <h3><span>Start Spider</span></h3>
                                    <p><span>In the project directory of the command line, enter <code>scrapy crawl news</code> to start the project.</span></p>
                                </div>
                            </div>
                            <div class="col-sm-3 introduce-img-left col-xs-4">
                                <img src="http://o765kopml.bkt.clouddn.com/22.svg">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="introduce-item">
                            <div class="introduce-img-right col-sm-3 col-xs-4">
                                <img src="http://o765kopml.bkt.clouddn.com/33.svg">
                            </div>
                            <div class="col-sm-6 col-xs-8">
                                <div class="introduce-content">
                                    <h3><span>Retrieve data</span></h3>
                                    <p><span>Automatically analyze news pages and use the Natural Language Toolkit to process word segmentation, get information, and store it in mongo database</span></p>
                                </div>
                            </div>
                            <div class="col-sm-3 hidden-xs"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="introduce-item">
                            <div class="col-sm-3 hidden-xs"></div>
                            <div class="col-sm-6 col-xs-8">
                                <div class="introduce-content">
                                    <h3><span>Show</span></h3>
                                    <p><span>Use the script from project, you can easily import/export data from database to a json or csv format file </span></p>
                                </div>
                            </div>
                            <div class="col-sm-3 introduce-img-left col-xs-4">
                                <img src="http://o765kopml.bkt.clouddn.com/44.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>


    <div class="footer">
        <p>
            Made by <small><a href="https://github.com/findsomeoneyys">@findsomeone</a></small>
            <br> just for learning...
        </p>
    </div>






    <!-- jQuery -->
    <script src="./static/js/jquery-3.1.1.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="./static/js/bootstrap.js"></script>
</body>

</html>